@media (orientation: landscape) {
    .no-js #name {
        height: 100vh !important;
        left: -15.5vh !important;
        top: 0 !important;
    }

    .no-js #name #cactus-left, .no-js #name #cactus-right path {
        opacity: 0 !important;
    }

    .no-js #name #cactus-right {
        height: 102vh !important;
    }

    .no-js #name, .no-js #name * {
        transition: 0s all !important;
    }
}

.no-js #projects > div > * {
    opacity: 1 !important;
    transition-duration: 0s !important;
}

.no-js #projects div::before, .no-js #projects div::after {
    opacity: 1 !important;
    top: 0 !important;
    height: 100% !important;
    transition-duration: 0s !important;
}

.no-js #projects > div::before { left:  0 !important; }
.no-js #projects > div::after  { right: 0 !important; }
